<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>normal.dotm</Template><TotalTime>0</TotalTime><Pages>43</Pages><Words>5332</Words><Characters>30393</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><PresentationFormat></PresentationFormat><Lines>253</Lines><Paragraphs>71</Paragraphs><Slides>0</Slides><Notes>0</Notes><HiddenSlides>0</HiddenSlides><MMClips>0</MMClips><ScaleCrop>false</ScaleCrop><Manager></Manager><Company></Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>35654</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>